NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
# Generate with:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64url'))"
PROVIDER_SECRETS_KEY=
